/*
 * Custom CSS
 */

 :root {
    --bs-body-bg: var(--bs-gray-100);
  }
  
  .dropdown {
    position: relative;
  }

  .bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}